<div class='container'>
  <div class='row'>
    <!--ゲストユーザーは募集投稿機能は見えないように-->
    <% if current_user.name != "guestuser" %>    
      <div class='col-3'>
        <%= render "form", recruiting: @recruiting %>
      </div>
    <% end %>
    
    <div class='col-9'>
      <%= render "list", recruitings: @recruitings %>
    </div>
    
  </div>
</div>