<!--ゲストユーザーは募集投稿機能は見えないように-->
<div class="index_container">
  <% if user_signed_in? && current_user.name != "guestuser" %>
    <div class='index_form'>
      <p>内容を入力して</br>募集してみよう！</p>
      <%= render "form", recruiting: @recruiting %>
    </div>
  <% end %>
  
  <div class='index_list'>
    <%= render "list", recruitings: @recruitings %>
  </div>
</div>