<div class="container">

  <div class="row my-3">
    <%= link_to user_path(@user) do %>
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    <% end %>
  </div>
  <div class="row">
    <h3 class="marker_blue">フォロワー</h3>
  </div>

  <div class="row">
    <% if @users.exists? %>
      <%= render 'public/users/index', users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>

</div>