@import '~bootstrap/scss/bootstrap';

// トップ画面
.mv-image {
  width: 100%;
  height: 650px;
  position: relative;
  background-image: url("../images/paris.jpg");
  background-size: cover;
  background-position: center;
}
.mv-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 20px;
  font-family: 'arial black', sans-serif;
  font-size: 76px;
  background-color: rgba(255,255,255,0.4)
}


////////////////////ヘッダーフッター////////////////////
.header-logo {
  width:  160px;
  height: 80px;
}
.bg-header{
  background-color: #f0f8ff ;
}
.bg-footer{
  background: linear-gradient(to right, #7fffd4 0%, #2af598 100%);
}


.header-icon{
  font-size:2em;
}
// ヘッダーアイコン説明
.header-icon-tips li {
  position:relative;
  padding: 5px;
  list-style-type: none;
}
.header-icon-tips li:hover {
  background: #d2e7fa;
  border-radius: 0.5em;
}
// アイコン補足説明
.tooltips {
  width: 150px;
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 0.5em;
  background: #75cefa;
  color: #FFFFFF;
  border-radius: 0.5em;
}
.tooltips:after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  left: 0.5em;
  top: -8px;
  border-top:8px solid transparent;
  border-left:8px solid #c72439;
}
.header-icon-tips li:hover .tooltips {
  display: block;
}

// プロフアイコン表示
.my-icon{
  border-radius: 50%;
  border: 6px solid rgba(117,206,250,0.4);
  width: 80px;
  height: 80px;
  object-fit:cover;
}

// 検索バー
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_submit {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}
////////////////////ヘッダーフッターここまで////////////////////


////////////////////募集一覧////////////////////
//  index 全体大枠
.index_container {
  width: 100%;
  height: auto;
  display: flex;
}
// index 募集フォーム配置
.index_form {
  width: 330px;
  height: 800px;
  padding: 50px 30px 30px 50px;
  border-right: 1px solid;
  overflow-y: scroll;
}
//  index 募集一覧配置
.index_recruitings {
  padding: 30px 0px 90px 10px;
  margin: 0 auto;
}
.recruitings_body {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  list-style: none;
}
.recruitings_page {
  display: flex;
  padding: 20px;
  justify-content: center;
}


// 募集一覧
// 各投稿データボックス
.list_box {
  position: relative;
  width: 300px;
  padding: 10px;
  margin: 0 15px 30px 0;
  background-color: #f0f8ff;
  list-style: none;
  border: 1px solid #000;
  flex-direction: column
}
.list_box:hover {
  border: 6px solid #8ae6c2;
}

.list_dead {
  margin-top: auto
}

// いいねとコメント位置
.list_fav {
  text-align: right;
  padding-left: 5px;
  float: right;
  margin-top: auto
}
.list_comm {
  text-align: right;
  padding-left: 5px;
  float: right;
  margin-top: auto
}


// 遊ぶ日時
.list_date {
  background: #000000;
  color: #fff;
  width: 110px;
  position: relative;
  top: -18px;
  right: -27px;
  z-index: 1;
  float: right;
  margin-right: 10px;
  padding: 5px;
  border-radius: 15px 0 15px 0;
}
.date_year{
  font-size: 14px
}
.date_month {
  text-align: center;
  font-size: 24px
}
.date_time {
  text-align: right;
}

// ユーザーアイコン
.list_icon {
  border-radius: 50%;
  border: 6px solid rgba(117,206,250,0.4);
  width: 70px;
  height: 70px;
  object-fit:cover;
}


////////////////////募集一覧ここまで////////////////////


// コメント機能
.comment_reply {
  margin: 10px;
  background: linear-gradient(to right, #fefedf 0%, #f0f8ff 100%);
}

////////////////////マッチング完了スイッチングボタン//////////
.switch__label {
  width: 50px;
  position: relative;
  display: inline-block;
}
.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 31px;
  overflow: hidden;
}
.switch__content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 0;
  left: 0;
  border: 1.5px solid #E5E5EA;
  border-radius: 30px;
  background-color: #fff;
}
.switch__content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
          transition: all .5s;
}
.switch__input {
  display: none;
}

.switch__circle {
  display: block;
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px #999;
          box-shadow: 0 2px 6px #999;
  width: 27px;
  height: 27px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
          transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
  left: 21px;
}

.switch__input:checked ~ .switch__content:after {
  background-color: #4BD964;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
////////////////////マッチング完了スイッチングボタンここまで////////////////////


// バリデーションエラーメッセージ
.error_explanation {
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}

// フラッシュメッセージ
.flash-notice {
  background-color: lightBlue;
  text-align: center;
  font-weight:850;
}
.flash-alert {
  background-color: orange;
  text-align: center;
  font-weight:850;
}