<% if @model == 'user' %>
	<h3>"ユーザーの中から 「<%= @content %>」 を検索した結果"</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'recruiting' %>
	<h3>"募集の中から 「<%= @content %>」 を検索した結果"</h3>
  <%= render 'public/recruitings/list', recruitings: @records %>
<% end %>