<div class='container'>
  <div class='row'>
    <p>県名やオンラインサービス名を編集、追加して下さい。</br>
    会員は、下記の一覧の中から、行動範囲を選択する事ができるようになります。</p>
  </div>
  
  <div class='row'>
    <div class='col'>
      <%= render 'form', prefecture: @prefecture %>
    </div>
  </div>
</div>