<div class='container'>
  <div class='row'>
    <p>県名やオンラインサービス名を編集して下さい。</p>
  </div>
  
  <div class='row'>
    <div class='col'>
      <%= render 'form', prefecture: @prefecture %>
    </div>
  </div>
</div>