<div class="index_container">

<div class="index_recruitings">
  <div class="recruitings_body"><%= render "list", recruitings: @recruitings %></div>
  <div class="recruitings_page"><%= paginate @recruitings, theme: 'bootstrap-5' %></div>
</div>