<div class='container'>

  <div class='row'>
    <h3><<ユーザー一覧>></h3>
  </div>
  
  <div class='row'>
    <%= render 'admin/users/index', users: @users %>
  </div>

  <div class="row">
    <div class="col-11 d-flex justify-content-center">
      <%= paginate @users, theme: 'bootstrap-5' %>
    </div>
  </div>

</div>
