<div class='container'>
  
  <div class='row'>
    <%= render 'info', {user: @user, areas: @areas} %>
  </div>

  <div class='row'>  
    <%= render 'admin/recruitings/list', recruitings: @user_recruitings %>
  </div>
  
</div>