<div class='container'>

  <div class='row'>
    <%= render 'info', {user: @user, areas: @areas} %>
  </div>
  <% if @user.name != "guestuser" %>
    <div class='row'>
      <%=link_to "興味あり募集", favorites_user_path(@user) %>
    </div>
    <div class='row'>
      <%= render 'public/relationships/btn', {user: @user} %>
    </div>

    <% if @user_recruitings.exists? %>
      <div class='row'>
        <%= render 'public/recruitings/list', recruitings: @user_recruitings %>
      </div>
    <% else %>
      <h3>募集をしていません</h3>
    <% end %>

  <% end %>

</div>